Source: libkolab-perl
Section: perl
Priority: extra
Maintainer: Debian Kolab Maintainers <pkg-kolab-devel@lists.alioth.debian.org>
Uploaders: Noèl Köthe <noel@debian.org>, Steffen Joeris <white@debian.org>, Peter Eisentraut <petere@debian.org>, Mathieu Parent <math.parent@gmail.com>
Build-Depends: debhelper (>= 4), dpatch
Build-Depends-Indep: libnet-ldap-perl
Standards-Version: 3.8.0
Homepage: http://www.kolab.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kolab/libkolab-perl/trunk/
Vcs-Svn: svn://svn.debian.org/pkg-kolab/libkolab-perl/trunk/

Package: libkolab-perl
Architecture: all
Depends: ${perl:Depends}, libconvert-asn1-perl, libmail-imapclient-perl, libmime-tools-perl, libnet-ldap-perl, liburi-perl, kolab-libcyrus-imap-perl
Description: Perl modules for Kolab
 Kolab is a secure, scalable, and reliable groupware server.  It consists
 of a number of well-known and proven components for the standard tasks
 such as e-mail, directory service, and web service.  Kolab adds
 intelligent interaction between the components, a web administration
 interface, management of free/busy lists, etc.  Various clients can
 access Kolab, among them Kontact (KDE), Outlook (Windows), and Horde
 (web).
 .
 This package contains Perl modules that support the internal Kolab
 server functionality.  It is not intended for other purposes.
