Source: libkolab-perl
Section: perl
Priority: extra
Maintainer: Debian Kolab Maintainers <pkg-kolab-devel@lists.alioth.debian.org>
Uploaders: Noèl Köthe <noel@debian.org>, Steffen Joeris <white@debian.org>, Peter Eisentraut <petere@debian.org>
Build-Depends: debhelper (>= 4), dpatch
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.debian.org/pkg-kolab/libkolab-perl/

Package: libkolab-perl
Architecture: all
Depends: ${perl:Depends}, libconvert-asn1-perl, libmail-imapclient-perl, libmime-perl, libnet-ldap-perl, liburi-perl, kolab-libcyrus-imap-perl
Description: Perl modules for Kolab
 Kolab is a secure, scalable, and reliable groupware server.  It consists
 of a number of well-known and proven components for the standard tasks
 such as e-mail, directory service, and web service.  Kolab adds
 intelligent interaction between the components, a web administration
 interface, management of free/busy lists, etc.  Various clients can
 access Kolab, among them Kontact (KDE), Outlook (Windows), and Horde
 (web).
 .
 This package contains the following Perl modules:
   * Kolab - module for general Kolab settings
   * Kolab::Conf - module for Kolab template generation
   * Kolab::Cyrus - module for interfacing with the Kolab Cyrus server
   * Kolab::DirServ - module to publish address book
   * Kolab::LDAP - module for generic LDAP code
   * Kolab::LDAP::Backend - module for abstract directory
   * Kolab::LDAP::Backend::ad - module for an Active Directory backend
   * Kolab::LDAP::Backend::dirservd -  module for the Directory Services updater
   * Kolab::LDAP::Backend::slurpd - module for a slurpd backend
   * Kolab::Mailer - module for sending e-mail
   * Kolab::Util - module for general utility functions
 .
 Web site: http://www.kolab.org/
