#!/usr/bin/make -f

NULL=

include /usr/share/cdbs/1/class/perl-makemaker.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_MAKEMAKER_NORMAL_ARGS = --config=/etc/kolab		\
                            --bin=/usr/bin			\
                            --sbin=/usr/sbin			\
                            --etc=/etc/kolab			\
                            $(NULL)

clean::
	rm -f Makefile.old
	rm -f bin/kolab_smtpdpolicy
	rm -f bin/kolabdcachetool
	rm -f bin/kolabpasswd
	rm -f bin/kolabquotareport
	rm -f bin/kolabquotawarn
	rm -f sbin/kolab_bootstrap
	rm -f sbin/kolabcheckperm
	rm -f sbin/kolabconf
	rm -f sbin/kolabd
	rm -f MYMETA.json
	rm -f MYMETA.yml
	rm -f Makefile
	rm -Rf blib/
	rm -f pm_to_blib

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
